<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        .dropdown-menu {
            background-color: #343a40; /* Dark background color for dropdown */
        }
        .dropdown-item {
            color: #ffffff; /* White text color for dropdown items */
        }
        .dropdown-item:hover {
            background-color: #454d55; /* Darker background color on hover */
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-end">
    <a class="navbar-brand" href="{% url 'room_list' %}">Room Finder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'room_list' %}">Home</a>
            </li>
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_room' %}">Add Room</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_category' %}">Add Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_location' %}">Add Location</a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Locations
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for location in locations %}
                                <a class="dropdown-item"
                                   href="{% url 'rooms_by_location' location.id %}">{{ location.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
