<!DOCTYPE html>
<html>
<head>
    <title>Rooms by Location</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="form-container">
        <h1>Rooms in Location: {{ location.name }}</h1>
        <ul>
            {% for room in rooms %}
            <li>
                <h2><a href="{% url 'room_detail' room.pk %}">{{ room.title }}</a></h2>
                <p>{{ room.description }}</p>
                <p>Category: {{ room.category.name }}</p>
                <p>Price per month: ${{ room.price_per_month }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
